<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Game</title>
  <meta name="description" content="The word game">
  <meta name="author" content="Panda">
  <link rel="stylesheet" href="../css/reset.css?v=1.0">
  <link rel="stylesheet" href="../css/game.css?v=1.0">
</head>
<body>
  <div id="gamePlace">
    <div id="upperPuzzlePlace" class="card card-1">
      <div id="puzzleContainer" class="card card-2 letterContainer"></div>
    </div>
    <div id="bottomLettersPlace" class="card card-1">
       <div id="lettersContainer" class="card card-2 letterContainer"></div>
    </div>
  </div>
  <div id="toastyDiv">
  
  </div>
  <script src="../js/dictionary.js"></script>
  <script src="../js/game.js"></script>
</body>
</html>